extends layout

block content
  h1= title
  p Welcome to #[em LocalInventory], a very basic Express website developed by Polvyer.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The inventory has the following record counts:

    ul
      li #[strong Cards:] !{data.card_count}
      li #[strong Copies:] !{data.card_instance_count}
      li #[strong Series:] !{data.series_count}
      li #[strong Expansions:] !{data.expansion_count}